*.pyc
POGOProtos/src/
res/spawns*.txt
res/banned*.txt
res/accs.db
webres/data.db
webres/websettings.json
res/usersettings.json
logs/*.txt
res/logs/*.txt
res/learning/learn_files/*.json
res/learning/learn_files/*.undef
res/learning/learn_plans/id*/*.plan
res/learning/learn_plans/new/*.plan
res/learning/learn_plans/id*/*.complete
temp/
src/