protobuf==3.0.0
s2sphere==0.2.4
gpsoauth==0.3.0
pushbullet.py
geopy==1.11.0
twisted
xxhash
flask
flask_compress
telepot
requests[socks]
unidecode
-e git+git://github.com/kvangent/PokeAlarm#egg=pokealarm