{
  "_comment": "Language, can be german/english/spanish",
  "language": "english",

  "_comment": "The size in MB after which the spawn file gets renamed and a new one is used, set to 0 to disable.",
  "backup_size": 10,

  "_comment": "Standard scan range in m.",
  "range": 3300,

  "_comment": "How often it will scan. Can be higher under bad server conditions.",
  "scaninterval": 600,

  "_comment": "Google API key.",
  "api_key": "PUT_YOUR_GOOGLE_API_KEY_HERE",
  
  "_comment": "Icon set to use for the map, can be 'standard'/'shuffle'/'alt'/'toon'.",
  "icon_set": "shuffle",

  "_comment": "Pokemon with these ids won't be shown in the map. (data still gets collected)",
  "exclude_ids": [10,11,13,14,16,17,19,21,41,96],

  "_comment": "Will scale icons by this factor.",
  "icon_scalefactor": 1.0,

  "_comment": "Will scale the whole user interface by this factor.",
  "mobile_scalefactor": 0.7,

  "_comment": "Notification settings. Put ids of pokemon you want to be notified about into push_ids.",
  "notifications":
  {
	"enabled": false,
	"push_ids": [1,2,3,4,5,6,7,8,9,131,132,142,143,144,145,146,147,148,149,150,151],
	"add_location_name": true,
	"pushbullet":
	{
		"enabled": false,
		"api_key": ["PUT_YOUR_PUSHBULLET_API_KEY_HERE"],
		"use_channels": false,
		"channel_tags": [""]
	},
	"telegram":
	{
		"enabled": false,
		"bot_token": "PUT_YOUR_TELEGRAM_BOT_TOKEN_HERE",
		"chat_ids":["PUT_YOUR_CHAT_ID_HERE"]
	}
  },

  "_comment": "notification webhook urls, currently only for pokemon (Pokealarm standard: 'http://localhost:4000')",
  "urls_webhook": [],

  "_comment": "The number of times it will scan until it quits. Put it to 0 for infinite scans, 1 for just a single one.",
  "scannum": 0,
  
  "_comment": "Port that the webserver will use. Set to 0 to use random open port.",
  "port": 8000,

  "_comment": "If you're using a socks5 proxy and the IP is/gets banned, it'll wait that time in s until retrying instead of quitting. Set to 0 to disable.",
  "time_socks5_retry": 30,

  "_comment": "The profiles. Each with their own id, login info, coordinates and proxy.",
  "profiles": [
    {
      "id": 0,
      "type": "ptc",
      "username": "agent0",
      "password": "pass",
	  "proxy": "",
      "coordinates":
          {
              "lat": 0,
              "lng": 0
          },
      "learn_file": "INSERT_NAME"
    },
    {
      "id": 0,
      "type": "ptc",
      "username": "agent1",
      "password": "pass"
    },
    {
      "id": 0,
      "type": "google",
      "username": "agent2",
      "password": "pass"
    },
    {
      "id": 0,
      "type": "ptc",
      "username": "agent3",
      "password": "pass"
    },
    {
      "id": 0,
      "type": "google",
      "username": "agent4",
      "password": "pass"
    }
  ]
}
