.label {
    color: black;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 60px;
    border-radius: 20px;
    margin-top:    20px;
    opacity: 0.8;
    white-space: nowrap;
}

.hidden_label {
    color: darkslategrey;
    background-color: lightgray;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 60px;
    border-radius: 20px;
    opacity: 0.8;
    white-space: nowrap;
}

.label_pokemon_name {
    color: black;
    font-weight: bold;
    display: block;
}

.label_expire_time {
    font-style: italic;
    display: block;
}

.label_line {
    display: block;
}

.label_hidden_pokemon {
	color: #a9a9a9;
}