html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        #map {
            height: 100%;
        }
        
        #filter {
            position: absolute;
            right: 12px;
            top: 12px;
            width: 27px;
            height: 28px;
            box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
            border-radius: 2px;
            cursor: pointer;
            background-color: white;
            text-align: center;
            vertical-align: middle;
        }
        
        #findloc {
            position: absolute;
            right: 12px;
            top: 52px;
            width: 27px;
            height: 28px;
            box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
            border-radius: 2px;
            cursor: pointer;
            background-color: white;
            text-align: center;
            vertical-align: middle;
        }

        #showcountdown {
            position: absolute;
            right: 12px;
            top: 92px;
            width: 27px;
            height: 28px;
            box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
            border-radius: 2px;
            cursor: pointer;
            background-color: white;
            text-align: center;
            vertical-align: middle;
        }
        
        #filterdialog {
            position: absolute;
            display: inline-block;
            height: 75%;
            overflow-y: scroll;
            overflow-x: hidden;
            right: 40px;
            top: 12px;
            padding: 3px;
            box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
            border-radius: 2px;
            cursor: pointer;
            background-color: white;
            font-family: Roboto, Arial, sans-serif;
            font-size: 14px;
            font-weight: 400;
            display: none;
        }